/** @format */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.box {
  background-color: #fff;
  height: 300vh;
}
.box,
header {
  width: 100%;
}
header,
nav,
.section,
footer,
nav ul {
  display: flex;
  align-items: center;
}
header {
  height: 100px;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 2px;
}
.header-logo {
  height: 100px;
  /* position: absolute;
  left: 25%;
  top: 37%;
  transform: translateX(-50%, -50%); */
}
.logo {
  /* width: 200px;
  height: 150px;
  background-color: #fff;
  clip-path: circle(50% at bottom);
  position: absolute;
  bottom: 0px; */
  /* border: 1px solid #ff6d1f; */
}
nav {
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
nav > ul {
  margin-left: auto;
  width: 500px;
  justify-content: space-around;
}
nav > ul a {
  font-size: 18px;
  font-weight: 500;
  color: #ff6c0c;
}
nav > ul a:hover {
  color: #ff9e0c;
}
/* --------------------------------------- SECTION 1 ------------------------------------------- */
.section1 {
  display: flex;
  width: 100%;
  height: 90vh;
  border: 1px solid tomato;
}
.left1,
.right1 {
  width: 50%;
}
.right1 {
  height: 400px;
}
.right1 > img {
  width: 100%;
}
