*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-weight: 500;list-style: none 
  ;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}
.box{
  width: 100%;
  height: 100vh;
}
nav > svg{
  width: 100px;
}
nav{
 width:100%;
 height: 50px;
 display: flex;
 align-items: center;
 padding-left: 20px;
} 
.asosiy{
  width:100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  margin-bottom: 30px;
  font-weight: 400;
}
form{
  width: 500px;
  height: 600px;
  border: 2px solid #f5e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}
input{
  width: 350px;
  height: 40px;
  padding-left: 40px;
  border-radius: 10px;
  border: 1px solid #9c8b8b;
}
.aa{
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: #fff;
}
.chiziq{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chiziq > span{
  display: inline-block;
  width: 150px;
  height: 1px;
  justify-content: center;
  align-items: center;
  background-color: #f3e0e0;
  margin: 10px;
}
p{
  color: #302929;
}
.google{
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:#4285f4;
  color: #fff;
  display: flex;
  align-items: center;
  padding:3px;
}
.apple{
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3px;
  background-color: #fff;
}
.imggoogle{
  width: 35px;
  height: 35px;
  border-radius: 5px;
}  
.google span{
  margin: auto;
}
.imgapple{
  width: 15px;
  height: 15px;
}
a{
  padding-top: 70px;
  color: #827272;
}
.kirish{
  background-color: transparent;
  color: green;
  border: 2px solid green;
  width: 300px;
  height: 35px;
  border-radius: 10px;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center
}
.yozuv{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center
}