/** @format */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all 0.6s ease;
}
.box {
  background-color: #fff;
  height: 300vh;
}
.box,
header {
  width: 100%;
}
header,
nav,
.section,
footer,
nav ul {
  display: flex;
  align-items: center;
}
header {
  height: 100px;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 2px;
}
.header-logo {
  height: 100px;
  /* position: absolute;
  left: 25%;
  top: 37%;
  transform: translateX(-50%, -50%); */
}
.logo {
  /* width: 200px;
  height: 150px;
  background-color: #fff;
  clip-path: circle(50% at bottom);
  position: absolute;
  bottom: 0px; */
  /* border: 1px solid #ff6d1f; */
}
nav {
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
nav > ul {
  margin-left: auto;
  width: 500px;
  justify-content: space-around;
}
nav > ul a {
  font-size: 18px;
  font-weight: 500;
  color: #ff6c0c;
}
nav > ul a:hover {
  color: #ff9e0c;
}
/* --------------------------------------- SECTION 1 ------------------------------------------- */

.section1,
.section1-btn, .left1 a {
  display: flex;
}
.section1 {
  width: 100%;
  height: 87vh;
  padding: 20px 15px;
}
.left1,
.right1 {
  width: 50%;
}
.right1 {
  height: 400px;
}
.right1 > img {
  width: 100%;
}
.left1 {
  border-left: 3px dashed #ff6253;
}
.left1 h1 {
  width: 90%;
  font-size: 2.5rem;
  color: transparent;
  margin: 30px auto;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    45deg,
    #ff6253,
    #ff6c0c,
    #ff9e0c,
    #ffba0c,
    rgb(220, 87, 20),
    #ff6253,
    #ff6253
  );
  text-align: left;
  line-height: 55px;
}
.left1 h5 {
  width: 90%;
  font-size: 1.5rem;
  color: #ffa20c;
  margin: 30px auto;
  text-align: left;
  line-height: 30px;
  font-weight: 400;
}
.left1 a {
  width: 200px;
  height: 50px;
  background-color: #ff6253;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid transparent;
}
.left1 a:hover {
  background-color: #fff;
  border-color: #ff6253;
  color: #ff6253;
}
.section1-btn {
  width: 90%;
  margin: auto;
  justify-content: flex-start;
  gap: 30px;
}
